.projects{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 100px;
}

/*Ajusto las tarjetas para que aparezcan una a lado de la otra*/
.cardsFlex{
    display: flex;
}

.contenedor{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minimax(300px, 1fr));
    grid-template-rows: minimax(100px, auto);
    margin: 0px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.gallery .img{
    max-width: 100px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.contenedor > .gallery{
    display: flex;
    justify-content: center;
    align-items:center;
}

.contenedor> .gallery> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}