.projects{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    padding: 100px 0px 100px 0px;
    margin: auto;
}

/*Ajusto las tarjetas para que aparezcan una a lado de la otra*/
.cardsFlex{
    display: flex;
    max-width: fit-content;
}

