.cardsmain{
    margin: 20px;
    position: relative;
}

.position{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 350px;
    border: rgb(233, 233, 233) solid 2px;
    box-sizing:border-box;
    border-radius: 35px;
    
}

.dark .position{
        border: rgba(255, 255, 255, 0.065) solid 2px;
}

#psub{
    text-align: center;
}

#pimage{
    align-self:center;
    margin: 20px;
    max-width: 300px;
    border-radius: 15px;
}

#pp{
    line-clamp: 1;
    padding: 15px;
    text-align: justify;
    max-width: 300px;
}

.buttons{
    display: flex;
    gap: 15px;
    padding: 2vh;
}

.live, .code {


    font-weight: 300;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 5px 16px 34px -9px;
    border-radius: 15px;
    transition: 207ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    
}

.live:hover, .code:hover {

    transition: 207ms;
    padding: 10px 15px;
    transform: translateY(-0px);
    background-color: #262626;
    color: #ffffff;
    border: none;
}
/*
Ajusto tamaño iconos en los botones
*/
button img{
    width: 25px;
    margin-right: 10px;
}

.dark h2, .dark p{
    color: white;
}