.cardsmain{
    margin: 20px;
    position: relative;
    z-index: 1;
}



.position{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 300px;
    border: rgb(233, 233, 233) solid 2px;
    box-sizing:border-box;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    background-color: rgb(20, 130, 145);
}

.dark .position{ /*Fondo de las tarjetas en oscuro*/
    border: rgba(255, 255, 255, 0.065) solid 2px;
    background-color: #aae6ff1e;
    transition: ease-in-out 0.3s;
    
}

/*Animacion de hover*/

.light .position:hover {
        border: rgb(255, 97, 97) solid 2px;
        transition: ease-in-out 0.3s;
}

.dark .position:hover {
    border: rgba(255, 255, 255, 0.163) solid 2px;
    transition: ease-in-out 0.3s;
}

#psub{
    text-align: center;
}

.dark #psub{
    color: white;
}

#pimage{
    position: relative;
    align-self:center;
    margin: 0px;
    max-width: 300px;
    height: 250px;
    object-fit: cover;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
    border-radius: 15px;
}

#pp{
    line-clamp: 1;
    padding: 15px;
    text-align: justify;
    max-width: 300px;
}

.buttons{
    display: flex;
    gap: 15px;
    padding: 2vh;
}

.live, .code {


    font-weight: 300;
    font-size: 14px;
    color: #fff;
    background-color: #000000;
    padding: 10px 15px;
    border: none;
    box-shadow: rgb(0, 0, 0) 5px 16px 34px -9px;
    border-radius: 15px;
    transition: 207ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    
}

.dark .live, .dark .code{
     color: #ffffff;
    background-color: #000000;
}

.live:hover, .code:hover {

    transition: 207ms;
    padding: 10px 30px;
    transform: translateY(-0px);
    background-color: #262626;
    color: #ffffff;
    border: none;
    font-weight: 600;
}

.dark .live:hover, .code:hover {

    background-color: #2b2b2b;
    color: #ffffff;
}

/*
Ajusto tamaño iconos en los botones
*/
button img{
    width: 25px;
    margin-right: 10px;
}

.dark h2, .dark p{
    color: white;
}