.container.dark {
    background: rgb(11, 11, 15);
}

.hi{
    margin: 30vh;
}

.hi h3{
    font-size: 25px;
}


.hi h5{
        font-size: 15px;
}

.hi p{
        font-size: 15px;
}

/*DARK MODE*/

.dark .hi h3 {
    color: white;
}


.dark .hi h5 {
    color: white;
}

.dark .hi p{
    color: white;
}

button{
    color: white;
    background: black;
    padding: 15px;
    margin: 30px 0px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-weight: 300;
}

button:hover{
box-shadow: 0px 33px 46px 7px rgba(0, 0, 0, 0.5);
font-weight: 600;
}

.dark button {
    color: rgb(2, 2, 2);
    background: rgb(183, 102, 255);
    padding: 15px;
    margin: 30px 0px;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    font-weight: 500;
}

button:hover {
    box-shadow: 0px 33px 46px 7px rgba(0, 0, 0, 0.163);
    font-weight: 800;
}

.dark button:hover {
    color: white;
    box-shadow: 0px 33px 46px 7px rgb(181, 9, 255);
    font-weight: 600;
}