.presentation{
    display: flex;
    
}

.dark .presentation {
    background-color: hsla(240, 15%, 5%, 1);
        background-image:
            radial-gradient(at 23% 100%, hsla(240, 15%, 5%, 1) 0px, transparent 50%),
            radial-gradient(at 100% 67%, hsla(235, 65%, 17%, 0.63) 0px, transparent 50%),
            radial-gradient(at 0% 64%, hsla(225, 96%, 68%, 0.29) 0px, transparent 50%),
            radial-gradient(at 12% 25%, hsla(240, 15%, 5%, 1) 0px, transparent 50%),
            radial-gradient(at 99% 44%, hsla(266, 100%, 65%, 0.36) 0px, transparent 50%);
}
